{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<main>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6 left-column">
                    <h1>Categories</h1>
                    {% for c in categories %}
                    <a href="{{url_for('show_items', category=c.name)}}">
                        <div class="click-list">
                            <h5 class="lead">{{c.name}}</h5>
                        </div>
                    </a>
                    {% endfor %}
                    <div>
                        <a class="btn btn-outline-secondary add-btn" href="{{url_for('add_category')}}" role="button">Add
                            Category</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="items">
                        <h1>{{category}} ({{length}} {% if length == 1 %}item{% else %}items{% endif %})</h1>
                        <a class="btn btn-outline-secondary modify-btn bottom-margin" href="{{url_for('edit_category', category=category)}}"
                            role="button">Edit {{category}}</a>
                        <a class="btn btn-outline-secondary modify-btn bottom-margin" href="{{url_for('delete_category', category=category)}}"
                            role="button">Delete {{category}}</a>
                        <div id="itemsBox">
                            {% for i in items %}
                            <a href="{{url_for('show_description', category=i.category_name, name=i.name)}}">
                                <div class="click-list">
                                    <h5 class="lead">{{i.name}}</h5>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                        <div>
                            <a class="btn btn-outline-secondary add-btn" href="{{url_for('add_item', category=category)}}"
                                role="button">Add Item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}